@import '@/app/styles/vars.scss';

.content {

}

.sidebar { 
    .navigation {
        list-style-type: none;

        li {
            font-size: larger;
            border-bottom: 1px solid #EDEDED;
            padding: 10px 0;
            a {
                color:#959597;
            }
        }
    }
}
